<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleExecutable</key>
  <string>googleplaymusic</string>
  <key>CFBundleGetInfoString</key>
  <string>googleplaymusic</string>
  <key>CFBundleIconFile</key>
  <string>googleplaymusic</string>
  <key>CFBundleIdentifier</key>
  <string>com.github.googleplaymusic</string>
  <key>CFBundleName</key>
  <string>googleplaymusic</string>
  <key>NSHighResolutionCapable</key>
  <true/>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
</dict>
</plist>